NEXT_PUBLIC_HUB_BASE_URL=http://localhost:3000/api/v1
NEXT_PUBLIC_BLOCKCHAIN_EXPLORER=https://amoy.polygonscan.com
NEXT_PUBLIC_FAUCET_URL=https://faucet.polygon.technology/

# NextAuth — generate with `openssl rand -base64 32`
NEXTAUTH_URL=http://localhost:3001
NEXTAUTH_SECRET=development-only-do-not-use-in-production-please
