DEPLOYER_PRIVATE_KEY=              # for forge script Deploy.s.sol
RPC_URL_AMOY=https://rpc-amoy.polygon.technology
RPC_URL_MAINNET=https://polygon-rpc.com
ETHERSCAN_API_KEY=                 # for Polygonscan verification
